<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>ToDo List!</h1>
    <form action="/" method="post" >
      <input type="text" id="listtask" placeholder="To Do"><br />
      <input type="submit" id="submit" value="New Task">
    </form>

    <div class="taskList">
        <ul>
          {{$todos}}
            <li id='{{taskId}}'>
              <input type="button" value="Finished">
              <span>{{.}}</span>
            </li>
          {{/todos}}
        </ul>
    </div>
</body>
</html>
